.user {
    flex: 4;
    padding: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}

.userShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 15px -1px #000000;
    box-shadow: 1px 1px 15px -1px #000000;
    margin-right: 20px;
}

.userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 15px -1px #000000;
    box-shadow: 1px 1px 15px -1px #000000;
}

.userShowTop {
    display: flex;
    align-items: center;
}

.userShowImg{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.userShowTopTitle {
    display: flex;
    flex-direction: column;
}

.userShowUsername {
    font-weight: 600;
}

.userShowUserTitle {
    font-weight: 300;
}

.userShowInfo {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    color: #444;
}

.userShowBottom {
    margin-top: 20px;
}

.userShowTitle{
    font-weight: 600;
    color: #91868a;
    font-size: 14px;
}

.userShowIcon {
    font-size: 16px !important;
}

.userShowInfoTitle {
    margin-left: 10px;
}

.userUpdateImg {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateTitle {
    font-size: 24px;
    font-weight: 600;
}

.userUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label {
    font-size: 14px;
    margin-bottom: 2px;
}

.userUpdateInput {
    width: 250px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload {
    display: flex;
    align-items: center;
}

.userUpdateIcon {
    cursor: pointer;
}

.userUpdateButton{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: teal;
    cursor: pointer;
    font-weight: 600;
}